<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2">
    <title>Document</title>
    <link rel="stylesheet" href="css/gomoku.css">
</head>
<body>
    <div id="main">
        <div class="user-info">
            <form id="form"> 
                <div class="form-group">
                <input name="username" placeholder="Your Username"/>
                <input type="submit" value="Play"></input>
                </div>
            </form>
        </div>
        <div id="turn-info">Enter Your Name</div>
        <div id="canvas"></div>
    </div>
</body>
</html>