<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=2">
    <title>Document</title>
    <link rel="stylesheet" href="css/gomoku.css">
</head>
<body>
    <div id="main">
        <div id="user-info">
            <div class="item">
                <video id="user-video">Video not available</video>
                <div class="username"><span class="marker">X</span> Username</div>
            </div>
            <div id="middle" class="item">
                <div>VS</div>
            </div>
            <div class="item">
                <video id="opponent-video">Video not available</video>
                <div class="username"><span class="marker">O</span>Username</div>
            </div>
        </div>
        <div id="turn-info">YOUR TURN!</div>
        <div id="canvas"></div>
    </div>
</body>
</html>